
   .graph{
    margin-top: 100px;
   }
    #chart_div {
      width: 100%;
      height: 80vh; 
      /* height: calc(100% - 20px); Adjust to fit within the viewport */
    }
    @media (max-width: 560px) {
      #chart_div {
        height: 100%; /* Adjust to fit within the viewport */

      }
    }
 