@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font-color:#9c9c9c;
  --heading-color:#2c353d;
  --primar-color:#efbb20;
  --navbar-color:#2c353d;
  --darkblue-color:#2c70b9;
  --blue-color:#47c7ee;
  --darkgreen-color:#2ba048;
  --orange-color:#f35325;
  --lightgreen-color:#81bc06;
  --yellow-color:#ffba08;
  --text-color:#1f1a17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    text-transform: capitalize;
    transition: all 0.2s linear;
    text-decoration: none;
}
html{
    
    overflow-x:hidden ;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;

}


.content-of-page{
  padding: 20px;
}
/*about Box*/

.slideshow-container {
    width: 500px;
    height: 320px;
    position: relative;
    padding-left: 0px;
    padding-top: 55px;
}
.slideshow-container img{
  width: 500px;
  height: 290px;
  border-radius: 10px;
  
}


.work{
    padding: 50px 120px;
}
.work-box{
    padding: 50px 120px;
}
.box h1{
    margin-left: 10px;
    font-size: 1.6rem;
    
}
.in-box img{
    padding: 5px;
}

.in-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    display: flex;
    
    border-radius: 10px;
    background:linear-gradient(135deg, #e9eced 0%,#fffcfc 100%);
}
.para{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background:linear-gradient(135deg, #a1f9b5 0%,#e6fca2 100%);
    border-radius: 10px;
    color: #222831;
}
.para p{
  font-size: 0.9rem;
}
.para h1{
  font-size: 1.4rem;
}
.para h2{
  font-size: 1.2rem;
}
.para p, h3, h1{
  display: block;
    
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.inner-work .work-para{
    font-size: 1rem;
}
.inner-work .work-head h3{
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 768px) {
 

}


/*yt video*/
.yt .icon {
    
    margin-left: 320px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .yt .icon , p{
    display: flex;
    
  }
  .yt .icon img{
    width: 50px;
    height: 50px;
  }
  .yt p{
    margin-left: 280px;
    margin-top: -35px;
    padding-left: 100px;
    font-size: 1rem;
    font-weight: bolder;
  }
  .icon:hover {
   transform: scale(1.1);
  }
  #youtube-player {
    display: none;
    width: 680px;
    height: 400px;
    margin-left: 380px;
    margin-top: 50px;
    
  }
  @media screen and (max-width: 768px) {
    .yt .icon {
      margin-top: 20px;

    }
    
    .yt p {
      margin-top: 10px; 
      margin-left: 20px; 
      padding: 0 20px; 
      font-size: 0.8rem; 
    }
  
    #youtube-player {
      width: 90%; 
      height: auto; 
      max-width: 100%; 
      margin: 20px auto; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .yt .icon {
      margin-top: 10px; 
      width: 20px;
      height: 20px;
      margin-left: 20px;
    }
    .yt .icon img {
      width: 20px;
      height: 20px;
      }
    
    .yt p {
      margin-top: 10px; 
      margin-left: 10px; 
      padding: 0 10px; 
      font-size: 0.7rem; 
    }
    #youtube-player {
      width: 100px; 
      height: max-content; 
      max-width: 100%; 
      margin: 20px auto; 
    }
    .icon img{
      width: 10px;
    }
  }
  
 /* counter */

.counter-wrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.counter {
  width: calc(33.33% - 40px); /* Adjust the width for responsiveness */
  max-width: 200px; /* Set maximum width */
  text-align: center;
  margin-bottom: 30px;
  border: 0.1px solid #8f8e8e;
  border-radius: 5px;
  background: linear-gradient(135deg, #c4ecfb 0%, #9dbefd 100%);
  padding: 20px; /* Adjust padding */
  margin: 0 20px 30px; /* Adjust margin */
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.count {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #272727;
  margin-bottom: 10px;
}
.counter .count, span{
  text-align: center;
  font-size: 1.4rem;
}
.counter p {
  text-align: center;
  font-size: 18px;
  color: #3b3b3b;
  padding-left: 20px;
  font-weight: 600;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .counter {
    text-align: center;
      width: calc(50% - 40px); 
  }
  .counter p {
    text-align: center;
    font-size: 14px;}
}

@media screen and (max-width: 480px) {
  .counter {
    text-align: center;
      width: calc(800% - 40px); 
  }
  .counter p {
    text-align: center;
    padding-left:20px ;
    font-size: 12px;}
}

/* E Services */
.E{
  margin: 70px 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.E-box h1{
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.eservices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.eser{
  padding: 20px;
  width: calc(50% - 40px); 
  max-width: 200px; 
  height: 100px;
  border-radius: 30px;
  background: #f8f8f8;
  border: 0.1px solid rgb(180, 180, 180);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 20px; 
  transition: 0.5s;
}
.eser p{
  font-size: 1rem;
  padding-left: 10px;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.eser i{
  font-size: large;
  color: blue;
}
.eser:hover{
  transform:  scale(1.05);
  cursor: pointer;
  
  transition: all .4s ease-in-out ;
  
}

@media screen and (max-width: 768px) {
  .E {
    margin: 50px 20px;
  }
  .E-box h1{
    font-size: 1.2rem;}
    .eser p{
      font-size: 0.8rem;}
  .eser {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .E-box h1{
    font-size: 1rem;}
    .eser p{
      font-size: 0.8rem;}
  .eservices{
    text-align: center;
    align-items: center;
    padding-left: 20%;
  }
  .eser {
    width: calc(100% - 40px);
    
  }
}



