@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --font-color:#9c9c9c;
  --heading-color:#2c353d;
  --primar-color:#efbb20;
  --navbar-color:#2c353d;
  --darkblue-color:#2c70b9;
  --blue-color:#47c7ee;
  --darkgreen-color:#2ba048;
  --orange-color:#f35325;
  --lightgreen-color:#81bc06;
  --yellow-color:#ffba08;
  --text-color:#1f1a17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.content-of-page{
  padding: 20px;
  padding-top: 83px;
}
/*career*/
.career-header{
  padding-left: 20px;
  padding-top: 20px;
}
.career-header h1{
  font-size: 24px;
}
.career{
  padding: 20px;
}

.career-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.career-box .career-content:hover{
  background-color: rgb(168, 215, 231);
  cursor: pointer;
  transform: scale(1.05);
}
.career-box .career-content{
  text-align: center;
  max-width: 340px;
  width: 100%;
  height: 280px;
  padding: 20px;
  border-radius: 10px;
  color: #102C57;
  background-color:lightblue;
  box-shadow: rgba(14, 30, 37, 0.92) 0px 2px 4px 0px, rgba(14, 30, 37, 0.52) 0px 2px 16px 0px;
}
.career-content h2{
  font-size: 18px;
  text-align: center;
}
.career-content p{
  font-size: 16px;
}

@media (max-width:398px) {
  .career-box .career-content{
    height: 100%;
  }
}
/*contact*/
#connect-with-us{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#connect-with-us fieldset {
  background-color: rgba(248, 248, 248, 0.651);
  border-radius: 10px;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

#connect-with-us fieldset #connect-head {
  padding: 0 10px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  position: relative;
}
fieldset:hover #connect-head{
  bottom: 38px;
  background-color: transparent;
  width: max-content;
  z-index: 999;
}


.column {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.form-control {
  padding: 10px;
  width: 100%;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid rgb(223, 223, 223);
}

.form-control textarea {
  background-color: #102c5733;
}

.column .form-control input {
  width: 100%; 
}


.form-control .submit-btn {
  background-color: green;
  border: 0.5px solid black;
  color: white;
  width: 100%; 
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}


.form-control .submit-btn:hover {
  background-color: rgb(1, 88, 1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}




