@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color:#efbb20;
    --navbar-color:#2c353d;
    --darkblue-color:#2c70b9;
    --blue-color:#47c7ee;
    --darkgreen-color:#2ba048;
    --orange-color:#f35325;
    --lightgreen-color:#81bc06;
    --yellow-color:#ffba08;
    --text-color:#1f1a17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    text-transform: capitalize;
    transition: all 0.2s linear;
    text-decoration: none;
}
html{
    
    overflow-x:hidden ;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;

}


/*Contact*/
.container{
  
  width: 85%;
  background: #fff;
  border-radius: 6px;
  margin-left: 100px;
  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.main-con{
  padding-top: 80px;
}
.main-con h1{
  padding-left: 110px;
  padding-bottom: 30px;
  font-size: 1.6rem;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #2c2c2d;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 90%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button1{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button1 input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .button1 input[type="button"]:hover{
  background: #5029bc;
}
@media (max-width: 950px) {
  .container{
    width: 90%;
    padding-left: 50px;
    margin-left: 20px;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 768px) {
  .topic-text h3{
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .right-side p{
    font-size: 0.8rem;
  }
  .input-box input{
    align-content: center;
    font-size: 0.8rem;
  }
  .right-side .button1 input[type="button"]{
    font-size: 0.8rem;
  }
  .main-con h1{
    
    font-size: 1.3rem;
  }
  .container{

    align-items: center;
    margin: 40px;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
@media (max-width: 430px) {
  .container{
    margin: 15px;
    padding-right: 5px;
  }
  .left-side{
    margin-left: 0;
    margin-right: 50px;
  }
}


/*Map*/
.mapvid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img{
    margin-top: 50px;
    margin-left: 55px;
    border-radius: 10px;
    margin-right: 100px;
    width: 300px;
  }
}
iframe{
  margin-right: 10px;
  margin-top: 50px ;
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  
}
@media screen and (max-width:430px){
 iframe{
  width:90% !important;
  height: 300px;
  margin: 5px;
  
 }
 .mapvid img{
  margin-left: 90px;
 }
}


