* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-of-page{
  padding-top: 83px;
}

.excavation-section {
  padding: 20px;
  background-color: #F9F9F9;
}

.navigation {
  margin-bottom: 20px;
}

.back-link {
  font-size: 16px;
  color: #135D66;
  text-decoration: none;
  font-weight: bold;
}

.work-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.work-category{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-box {
  max-width: 600px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
}

.work-icon {
  width: 80px;
}

.work-title {
  font-size: 20px;
  margin-top: 10px;
  color: #135D66;
}

.work-description {
  font-size: 16px;
  color: #555;
}

.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.image-card{
  display: flex;
}
.image-card img {
  width: 250px;
  /* width: 100%; */
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.excavation-heading {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
  color: #135D66;
}

.excavation-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}