@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

:root{
    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color:#efbb20;
    --navbar-color:white;

    --darkblue-color:#2c70b9;
    --blue-color:#47c7ee;
    --darkgreen-color:#2ba048;
    --orange-color:#f35325;
    --lightgreen-color:#81bc06;
    --yellow-color:#ffba08;
    --text-color:#1f1a17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
    text-decoration: none;
}
html{
    /* font-size: 62.5%; */
    overflow-x:hidden ;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    background-color: white;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Slideshow container*/

.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.mySlides {
  display: none;
  position: relative;
  text-align: center;
  animation: fade 1.5s ease-in-out;
  max-height: 510px;
}

.mySlides img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dream {
  position: absolute;
  top: 20%;
  left: 30%;
  text-align: left;
  transform: translateX(-50%);
  font-size: 5em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.dots-container {
  text-align: center;
  /* padding: 15px; */
}

.dot {
  height: 12px;
  width: 12px;
  margin: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
@media (max-width: 1100px) {
  .mySlides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
    .dream { font-size: 3.2em;left: 30%; }
    .text { font-size: 1.4em; padding: 5px; width: 96%;}
}
@media (max-width: 768px) {
  .mySlides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
    .dream { font-size: 2.8em;left: 40%; }
    .text { font-size: 1em; padding: 5px; width: 96%;}
}

@keyframes fade {
    from { opacity: 0.8; }
    to { opacity: 1; }
}

  

/* companies */
.company section {
  display: grid;
  place-items: center;
}

.company section h1 {
  font-size: 2rem;
  /* padding: 20px; */
  margin: 10px 0px;
}

.company section .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  white-space: nowrap;
  position: relative;
}

.company section .slider .slider-items {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Ensure it doesn't wrap */
  gap: 20px; /* Remove gap between images */
  animation: scrolling 20s linear infinite;
  width: max-content;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider-items img {
  width: 150px;
  flex-shrink: 0; /* Prevent images from shrinking */
  margin: 10px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .slider-items img {
    width: 120px;
  }
  .company section h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .slider-items img {
    width: 100px;
  }
  .company section h1 {
    font-size: 24px;
  }
}


  /*service page new*/
   
  .card-container-box{
    /* margin-top: 5.5rem;
    margin-bottom: 12rem; */
  }
  .card-head h1{
    font-size: 2rem;
    text-align: center;
  }
  .card-head p{
    text-align: center;
    font-size: 1.2rem;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(50% - 20px);

  }
  .card-article{
    margin: 10px;
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 240px;
  }
  .card-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .card-data{
    width: 235px;
    background-color: whitesmoke;
    padding: 0.5rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    position: absolute;
    bottom: -8.5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }

  .card-description{
    display: block;
    font-size:0.8rem;
    margin-bottom: 0.25rem;
  }
  .card-title{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  .card-article:hover{
    animation: remove-overflow 2s forwards;
  }
  .card-article:not(:hover){
    animation: show-overflow 2s forwards;
  }
  .card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
  }
  @keyframes show-data{
    50%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(-7rem) ;
    }
  }
  @keyframes remove-overflow{
    to{
      overflow: initial;
    }
  }
  @keyframes remove-data{
    0%{
      transform: translateY(-7rem);
    }
    
    50%{
      transform: translateY(-10rem);
    }
    
    100%{
      transform: translateY(.5rem);
    }
  }
  @keyframes  show-overflow {
    0%{
      overflow: initial;
      pointer-events: none;
    }
    50%{
      overflow: hidden;
    }
  }
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .card-article {
        flex: 0 0 calc(50% - 15px); /* Each card takes up full width of the container minus some margin */
       padding-left: 10px;
       padding-top: 8px;
       padding-bottom: 15px;
       height: 100%;
       gap: 20px;
      }

      .card-data{
        width: calc(95%-5px);
      }
      .card-head h1{
        font-size: 1.6rem;
      }
      .card-head p{
        font-size: 0.8rem;
      }
  }
  @media screen and (max-width: 430px) {
    .card-article {
        flex: 0 0 calc(70% - 25px); /* Each card takes up full width of the container minus some margin */
       padding-left: 10px;
       padding-bottom: 25px;
       padding-top: 5px;
       height: 100%;
       gap: 20px;
      }
      .card-head h1{
        font-size: 1.3rem;
      }
      .card-head p{
        font-size: 0.6rem;
      }

  }

  
   /*what we do*/
   .whatwedo{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    /* border: 1px solid rgb(217, 217, 217); */
    /* margin-top: 1000px;
    margin-bottom: 50px; */
  }
  .what-we-do{
    margin: 10px 120px;
  }
  .what-head{
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
  }
  .what-head h1{
    font-size: 3.5rem;
  }
  .what-we-do p{
    font-size: 1.5rem;
  }

  .icon-box {
    display: flex;
    justify-content: space-around;
   
  }
  
  .image-container {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin: 15px;
    
    
  }
  
  .image-container{
    border: 1px solid black;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(220, 244, 247);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s ease-in-out;
  }
  .image-container:hover{
    transform: scale(1.05);
    transition: 0.1s;
  }
  .doing h1, p{
    margin: 10px;
  }
  .image-container img{
    
    width: 30%;
  }


  /*  */
  
/* Container for "What We Do" section */
.whatwedo {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  margin-top: -150px;
  margin-bottom: 50px;
  padding: 20px; 
}


.what-we-do {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px; 
}


.what-head {
  padding: 20px;
  text-align: center;
  margin-bottom: 5px;
}


.what-head h1 {
  font-size: 2rem;
}


.what-we-do p {
  font-size: 1rem;
}
.image-container div h1{
  font-size: 1.2rem;
}
.image-container div p{
  font-size: 1rem;
}

/* Container for icons */
.icon-box {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.image-container {
  flex: 0 0 calc(50% - 30px); 
  margin: 15px;
  border: 1px solid black;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(220, 244, 247);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s ease-in-out;
}

/* Hover effect */
.image-container:hover {
  transform: scale(1.05);
  transition: 0.1s;
}


.image-container h1,
.image-container p {
  margin: 10px;
  text-align: center; 
}


.image-container img {
  width: 30%; 
  margin: 0 auto; 
}


@media screen and (max-width: 768px) {
  .image-container {
      flex: 0 0 calc(100% - 30px); 
  }
  .image-container img{
    width: 20%;
  }
  .what-head h1{
    font-size: 1.6rem;
  }
  .what-we-do p{
    font-size: 0.8rem;
  }
  .image-container div h1{
    font-size: 0.9rem;
  }
  .image-container div p{
    font-size: 0.6rem;
  }

}

  /*  */
  /*why yukthaa*/
  .why-yukthaa{
    /* margin-top: 80px;
    margin-bottom: 30px;
    padding-top: 100px; */
    text-align: center;

  }
  .outter-box{
    background-color:var(--heading-color);
    border-radius: 10px;
    height: 200px;
    width: 95%;
    
  }
  .inner-content{
    text-align: center;
  }
  .inner-content h1{
    font-size: 2rem;
    color: whitesmoke;
  }
  .choosing{
    display: flex;
    justify-content: space-between;
    padding: 10px;;
  
  }
  .features{
    position: relative;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    background-color: #fdfafa;
    text-align: center;
    height: 120px;
    transition: 0.3s ease-in-out;
  }
  .features:hover{
    margin-top: 20px;
    height: 240px;
  }
  .features p{
    visibility: hidden;
    font-size: 0.8rem;
    text-align: center;
    width: 180px;
    opacity: 0;
    transition: 0.1s ease-in-out ;
  }
  .features:hover p{
    visibility:  visible;
    opacity: 1;
    transition-delay: 0.2s;
    
  }
  .features img{
    margin-top: 20px;
    width: 30%;
  }
  .features h4{
    font-size: 1rem;
  }
  @media screen and (max-width: 768px) {
    .inner-content h1{
      font-size: 1.6rem;
    }
    .features {
        width: calc(20% - 40px); 
        margin-left: 5px;
        margin-right: 5px;
    }
    .features p{
      width: calc(95% - 10px);
      font-size: 0.55rem;
      text-align:center;
    }
    .features h4{
      font-size: 0.7rem;
    }
    .choosing{
      padding: 0px;
      justify-content: space-evenly;
    }
    .features  img{
      width: calc(70% - 20px);
    }
    
}
  @media screen and (max-width:428px) {
    .inner-content h1{
      font-size: 1.3rem;
    }
    .features {
      width: calc(40% - 40px); 
      margin-left: 5px;
      margin-right: 5px;
  }
  .features p{
    width: calc(95% - 10px);
    font-size: 0.4rem;
    text-align:center;
  }
  .features h4{
    font-size: 0.6rem;
  }
  .choosing{
    padding: 0px;
    justify-content: space-evenly;
  }
  .features  img{
    width: calc(50% - 20px);
  }
  }
  @media screen and (max-width:370px) {
    .inner-content h1{
      font-size: 1rem;
    }
    .features {
      width: calc(40% - 40px); 
      margin-left: 1px;
      margin-right: 1px;
  }
  .features:hover{
    height: max-content;
  }
  .features p{
    width: calc(95% - 10px);
    font-size: 0.35rem;
    text-align:center;
    padding: 0;
    margin: 4px;
  }
  .features h4{
    font-size: 0.5rem;
  }
  .choosing{
    padding: 0px;
    justify-content: space-evenly;
  }
  .features  img{
    width: calc(60% - 20px);
  }
  }

  


















