@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font-color:#9c9c9c;
  --heading-color:#2c353d;
  --primar-color:#efbb20;
  --navbar-color:#2c353d;
  --darkblue-color:#2c70b9;
  --blue-color:#47c7ee;
  --darkgreen-color:#2ba048;
  --orange-color:#f35325;
  --lightgreen-color:#81bc06;
  --yellow-color:#ffba08;
  --text-color:#1f1a17;
}
:root{
    --font-color:#9c9c9c;
    --heading-color:#2c353d;
    --primar-color:#efbb20;
    --navbar-color:#2c353d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    transition: all 0.2s linear;
    text-decoration: none;
}
html{
    
    overflow-x:hidden ;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;

}

.content-of-page{
  padding: 20px;
  padding-top: 83px;

}

/* Profile */
.theme .com{
  padding-top: 20px;
}
.theme .com{
  font-size: 24px;
  padding: 20px;
}
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: max-content;
}
.column .container{
  max-width: 600px;
  width: 100%;
}
.profile {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 6px, rgba(0, 0, 0, 0.53) 0px 3px 6px;
  background:linear-gradient(135deg, #c4ecfb 0%,#9dbefd 100%);
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
 .profile h2{
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: green;
  }
  .profile h1{
    width: 50%;
    font-size: 20px;
    color: var(--orange-color);
    margin-bottom: 10px;
  }
  
 .profile p {
    padding-top: 3px;
    font-size: 16px;
    color: rgba(green, 0.8)
  }
  
  .profile .image {
    max-width: 90px;
    width: 100%;
    height: 90px;
    background: red;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    right: 15px;
    top: 15px;
    transform-origin: bottom left;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .profile:hover {
    .image {
      transform: scale(1.25);
      border-radius: 10px;
    }
  }



.theme .staff{
  font-size: 24px;
  padding: 20px;
}


